{% extends 'base.html' %}

{% block title %}MovieFX{% endblock %}


{% block body %}
   <section class="Movie_By_catalog">
       <div>
           <h4>TV Shows By Alphabet</h4>
       </div>
       <div class="chooser">
           <div id="choose_Option">
               <button> <a href="/tvshow/A"> A</a></button>
               <button> <a href="/tvshow/B">B</a></button>
               <button> <a href="/tvshow/C">C</a></button>
               <button> <a href="/tvshow/D">D</a></button>
               <button> <a href="/tvshow/E">E</a></button>
               <button> <a href="/tvshow/F">F</a></button>
               <button> <a href="/tvshow/G">G</a></button>
               <button> <a href="/tvshow/H">H</a></button>
               <button> <a href="/tvshow/I">I</a></button>
               <button> <a href="/tvshow/J">J</a></button>
               <button> <a href="/tvshow/K">K</a></button>
               <button> <a href="/tvshow/L">L</a></button>
               <button> <a href="/tvshow/M">M</a></button>
               <button> <a href="/tvshow/N">N</a></button>
               <button> <a href="/tvshow/O">O</a></button>
               <button> <a href="/tvshow/P">P</a></button>
               <button> <a href="/tvshow/Q">Q</a></button>
               <button> <a href="/tvshow/R">R</a></button>
               <button> <a href="/tvshow/S">S</a></button>
               <button> <a href="/tvshow/T">T</a></button>
               <button> <a href="/tvshow/U">U</a></button>
               <button> <a href="/tvshow/V">V</a></button>
               <button> <a href="/tvshow/W">W</a></button>
               <button> <a href="/tvshow/X">X</a></button>
               <button> <a href="/tvshow/Y">Y</a></button>
               <button> <a href="/tvshow/Z">Z</a></button>
           </div>
       </div>

  </section> 

    <section class="Movie_By_catalog">
        <div>
            <h4>TV Shows By Year</h4>
        </div>
        <div class="chooser">
            <div id="choose_Option">
                <form action="/tvshow/year/2021" method="get"><button>2021</button></form>
                <form action="/tvshow/year/2020" method="get"><button>2020</button></form>
                <form action="/tvshow/year/2019" method="get"><button>2019</button></form>
                <form action="/tvshow/year/2018" method="get"><button>2018</button></form>
                <form action="/tvshow/year/2017" method="get"><button>2017</button></form>
                <form action="/tvshow/year/2016" method="get"><button>2016</button></form>
                <form action="/tvshow/year/2015" method="get"><button>2015</button></form>
                <form action="/tvshow/year/2014" method="get"><button>2014</button></form>
                <form action="/tvshow/year/2021" method="get"><button>2021</button></form>
                <form action="/tvshow/year/2013" method="get"><button>2013</button></form>
                <form action="/tvshow/year/2012" method="get"><button>2012</button></form>
                <form action="/tvshow/year/2011" method="get"><button>2011</button></form>
                <form action="/tvshow/year/2010" method="get"><button>2010</button></form>
                <form action="/tvshow/year/2009" method="get"><button>2009</button></form>
                <form action="/tvshow/year/2008" method="get"><button>2008</button></form>
                <form action="/tvshow/year/2007" method="get"><button>2007</button></form>
                <form action="/tvshow/year/2006" method="get"><button>2006</button></form>
                <form action="/tvshow/year/2005" method="get"><button>2005</button></form>
                <form action="/tvshow/year/2004" method="get"><button>2004</button></form>
                <form action="/tvshow/year/2003" method="get"><button>2003</button></form>
                <form action="/tvshow/year/2002" method="get"><button>2002</button></form>
                <form action="/tvshow/year/2001" method="get"><button>2001</button></form>
                <form action="/tvshow/year/2000" method="get"><button>2000</button></form>
                <form action="/tvshow/year/1999" method="get"><button>1999</button></form>
                <form action="/tvshow/year/1998" method="get"><button>1998</button></form>
                <form action="/tvshow/year/1997" method="get"><button>1997</button></form>
                <form action="/tvshow/year/1996" method="get"><button>1996</button></form>
                <form action="/tvshow/year/1995" method="get"><button>1995</button></form>
                
            </div>
        </div>

    </section>
{% endblock %}
