{% extends 'base.html' %}

{% block title %}MovieFX{% endblock %}


{% block body %}
    <section class="lapi_process">
        <div class="lapi">
            <h1>
                Download Process for Laptop
            </h1> 
            <hr>
            <div class="process">
                <div class="step_1">
                    <h2>Step 1.</h2>
                </div>
                <div class="step_img">
                    <img src="media/img/step_1.png" alt="Image Nhi Load Hui">
                </div>

            </div>
            <div class="process">
                <div class="step_1">
                    <h2>Step 2.</h2>
                    <p>
                        Now Open utorrent app. 
                    </p>
                </div>
                <div class="step_img">
                    <img src="media/img/step_2.png" alt="Image Nhi Load Hui">
                </div>

            </div>
            <div class="process">
                <div class="step_1">
                    <h2>Step 3.</h2>
                    <p>
                        Paste our magnet link here and click add torrent.This will download your movie in your lapi.
                    </p>
                </div>
                <div class="step_img">
                    <img src="media/img/step_3.png" alt="Image Nhi Load Hui">
                </div>

            </div>

        </div>
        
    </section>

    <section class="mobile_process">
        <div class="lapi">
            <h1>
                Download Process for Mobile
            </h1> 
            <hr>
            <div class="process">
                <div class="step_1">
                    <h2>Step 1.</h2>
                    <p>
                        Go to any movie,click upon it.It will open detailed movie page. Here Copy Magnet link of 720p or 1080p as your convenience.  
                    </p>
                </div>
               

            </div>
            <div class="process">
                <div class="step_1">
                    <h2>Step 2.</h2>
                    <p>
                        Now Paste this link to "Flud" app in red marked place.
                        You can download "Flud" app form Google Playstore.
                    </p>
                </div>
                <div class="step_img">
                    <img src="media/img/flud.jpg" alt="Image Nhi Load Hui">
                </div>

            </div>

        </div>
        
    </section>

{% endblock %}