{% extends 'base.html' %}

{% block title %}Our Othersites{% endblock %}


{% block body %}

    <section class="select_catalog">
        <div class="chooser">

            <p>
            These are our Other websites.
            </p> 
            <div id="choose_Option">
                {% for item in webpages %}
                <button><a href="{{item.weblink}}" target="_blank">{{item.webname}}</a></button>
                {% endfor %}
                <!-- <button><a href="/live">MovieFX.Live</a></button> -->


                
            </div>
        </div>
        
    </section>

    <div style="display: flex;
    align-items: center;
        justify-content: center;
        flex-direction: row;
    flex-wrap: wrap;
    ">


        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        <div style="        
        border: 2px solid rebeccapurple;
        margin: 6px 11px;
       ">
            <iframe width="300rem" height="250rem"  src="https://www.youtube.com/embed/ybji16u608U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
        
        
    </div>

{% endblock %}