{% extends 'base.html' %}

{% block title %}MovieFX{% endblock %}


{% block body %}

<div class="movie_poster">
       <div>
           <img src="/media/{{tvshow.image}}" alt="">
       </div>

       <div>
            <h1>
                {{tvshow.name}}
            </h1>

            <div id="choose_Option">

                <div>
                    <h2>Season {{season_no}}</h2>
                        {% for i in episodes %}
                            <button> <a href="{{i.episode_link}}">Episode {{i}}</a></button>
                        {% endfor %}

                </div>

            </div>
       </div>
       <div>

       </div>

   </div>

{% endblock %}